{
  "presets": ["stage-0", "es2015", "flow"],
  "plugins": [
    "transform-class-properties",
    "transform-decorators",
    "add-module-exports",
    "transform-promise-to-bluebird",
    "transform-export-extensions",
    "babel-plugin-transform-runtime",
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array"]
    }]
  ]
}
