{
  "extends": "karma",
  "globals": {
    "sinon": true,
    "expect": true
  },
  "rules": {
    "space-before-function-paren": 0,
    "indent": 0,
    "no-loop-func": 0,
    "no-confusing-arrow": 0,
    "max-len": [
      "error",
      {
        code: 100,
        ignoreStrings: true,
        ignoreTemplateLiterals: true,
        ignoreRegExpLiterals: true,
        ignoreComments: true,
        ignoreUrls: true,
      },
    ],
  }
}
