doc/
src/utils/complexity.js
src/index.js
node_modules/
src/migrations
flow-typed/
dist/

# test file to fix
test/e2e/04_doctor/0.setup.js
test/e2e/04_doctor/1.specialities.js
test/e2e/04_doctor/2.doctors.js
test/e2e/04_doctor/3.hours.js
test/e2e/04_doctor/7.doctors.devices.js
test/e2e/04_doctor/doctors.availability.js
test/e2e/04_doctor/doctors.futureBookedSlots.js
test/e2e/04_doctor/doctors.nextAvailableSlots.js
test/e2e/05_external_doctor/external.doctors.js
test/e2e/06_patient/0.setup.js
test/e2e/06_patient/1.terms.js
test/e2e/06_patient/2.children.js
test/e2e/06_patient/3.patients.js
test/e2e/06_patient/4.patients.devices.js
test/e2e/07_next_book_slot/1_patient_nextBookedSlot.js
test/e2e/07_next_book_slot/2_doctor_nextBookedSlot.js
test/e2e/08_admin/0_admin_init.js
test/e2e/08_admin/1_admin_consultation.js
test/e2e/08_admin/2_admin_event.js
test/e2e/08_admin/3_admin_company.js
test/e2e/09_document/0_document.js
test/e2e/09_document/1_documents_carte_vitale.js
test/e2e/09_document/2_documents_health_insurance.js
test/e2e/10_corporate_manager/0_corporate_manager_init.js
test/e2e/10_corporate_manager/1_corporate_manager_company.js
test/e2e/10_corporate_manager/2_corporate_manager_codes.js
test/e2e/11_consultation/00_consultation_hook_payment.js
test/e2e/11_consultation/01_consultation_creation_workflow.js
test/e2e/11_consultation/02_consultation_past.js
test/e2e/11_consultation/1_consultation_init.js
test/e2e/11_consultation/3_consultation_close.js
test/e2e/11_consultation/4_doctor_availability.js
test/e2e/11_consultation/5_consultation_flow.js
test/e2e/11_consultation/6_consultation_status.js
test/e2e/11_consultation/7_consultation_delete.js
test/e2e/12_care_sheet/index.js
test/e2e/13_sick_leave/index.js
test/e2e/14_prescription/1_create.js
test/e2e/15_child_medical_record/0_medicalRecord_init.js
test/e2e/16_medical_record/0_medicalRecord_init.js
test/e2e/16_medical_record/1_medicalRecord_validation.js
test/e2e/16_medical_record/9_medicalRecord_delete.js
test/e2e/17_next_of_kin/0_nextOfKin_init.js
test/e2e/17_next_of_kin/9_nextOfKin_delete.js
test/e2e/19_event/1_event.js
test/e2e/19_event/2_expirable_hours.js
test/e2e/19_event/3_events_for_slot_limits.js
test/e2e/20_stat/1_userbase.js
test/e2e/20_stat/3_company-subscribers.js
test/e2e/21_slack/1_patient.js
test/e2e/40_consultation/8_cart.js
test/e2e/43_anonymisation/index.js
test/e2e/helpers/httpResponseAssert.js
test/e2e/helpers/payment.js
test/e2e/helpers/url.js
test/e2e/helpers/user.js
test/smoke/index.js
